* {
    margin: 0px;
    padding: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
}



html{
    margin-top: 0px;
    
}

.app {
    width: 100vw;
    height: 100vh;
}

.header{
    font-size: 4.2rem;
}


.homepage {
    display: flex;
    
    justify-content: flex-start;
    width: 100vw;

}

.icon{
    color: lightblue;
}

.navlinks{
    display: flex;
    justify-content: flex-end;
}

.container{
    height: 100vh;

}