html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


.trial-container{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.trial {
  width: 500px;
  background-color: #1E1E2C; 
}

.trial-editor {
  height: 12rem;
  
  position: relative;
}

.trial-header {
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  color: #fafafa;
}


